<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="app-header">
  <h1>
    <ng-container i18n="site header|An introduction header for this header@@headerTitle">
      Welcome to
    </ng-container>
    {{ title }}!
  </h1>

  <h2>
    <ng-container i18n="site subheader|The date display@@headerDate">
      The date is
    </ng-container>
    {{ now | date }}
  </h2>

  <br>

  <img width="300" i18n-title title="Angular logo" [src]="logo">

  <br><br>

  <div class="links">
    <a href="http://localhost:5280/en/">English</a>
    <a href="http://localhost:5281/fr/">Français</a>
    <a href="http://localhost:5282/ch/">中国</a>
  </div>

</div>

<div class="content">
  <h2 i18n="site links|The links section header@@linksSectionHeader">
    Here are some links to help you start:
  </h2>

  <ul>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">
          <ng-container i18n="site links|Tour of heroes link@@link1">
            Tour of Heroes
          </ng-container>
        </a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">
          <ng-container i18n="site links|Documentation link@@link2">
            Documentation
          </ng-container>
        </a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">
          <ng-container i18n="site links|Blog link@@link3">
            Blog
          </ng-container>
        </a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/guide/i18n">
          <ng-container i18n="site links|Internationalization link@@link4">
            Internationalization
          </ng-container>
        </a>
      </h2>
    </li>

    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/guide/i18n">
          <ng-container i18n="site links|Xliff link@@link5">
            XLiff Editor
          </ng-container>
        </a>
      </h2>
    </li>
  </ul>


</div>


